@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,700;1,800;1,900&display=swap');


/* body{
  background-color: #19191D;
}
.header {
  background-color: #19191D;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  min-height: 65px;
  width: 80%;
  margin: 0 auto ;
  

} */

body{
  background-color: #19191D;
  padding-top: 65px; /* altura do header */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 75px;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, .1); /* box-shadow sutil */
  z-index: 2;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  min-height: 75px;
  width: 80%;
  margin: 0 auto ;

  
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;

}

.nav-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover {
  color: #84838b;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 900;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
  .navbar{
    justify-content: space-between;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #19191D;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    transition: 0.8s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
    
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}